.sidebar {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: 10%;
  padding-top: 20px;
  left: 0;
  
}
.sidebar-links {
  width: 80%;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.sidebar-link {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: rgb(255, 255, 255);
  text-align: center;

  border: 2px;
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-radius: 10px;

  background-color: #000000;

  margin: 15px 15px 15px 0px;

  font-size: 1rem;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  transition: transform 1s;
}
.sidebar-link:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 0);
}
